// Specific CSS for your home-page
.about-section {
    padding-top: 5rem;
    background: linear-gradient(to bottom, #f12c2f 0%, rgba(100, 98, 98, 0.9) 75%, rgba(101, 98, 98, 0.8) 100%);
    margin-top: 9rem;
}
.text-center {
    text-align: center !important;
}
