// Specific CSS for your home-page
.about-section {
    padding-top: 5rem;
    background: linear-gradient(to bottom, #f12c2f 0%, rgba(100, 98, 98, 0.9) 75%, rgba(101, 98, 98, 0.8) 100%);
    margin-top: 9rem;
}
.text-center {
    text-align: center !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.contact-section .card {
    border: 0;
    border-bottom: 0.25rem solid #909393;
    background-color: rgb(191, 188, 188);
    width: 250px;
}
.bg-black {
    background-color:rgba(101, 98, 98, 0.8) !important;
}
.text-primary {
    color: rgba(19, 20, 20, 0.5) !important;
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
}
#home-fab {
    color:rgba(19, 20, 20, 0.5);
    padding-top:15px ;
}
.text-white-50 {
    color: rgba(19, 20, 20, 0.5) !important;
    padding-top: 8px;
}
