
<%= link_to 'BACK', chefs_path, class: 'btn btn-info' %>
5:41
<h1><%= @chef.first_name %> </h1>

<%= link_to "ADD BOOKING", new_chef_booking_path(@chef) %>
<%= link_to 'BACK', chefs_path, class: 'btn btn-info' %>
