
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.radissonblu.com/wp-content/uploads/2014/09/Chef-garnishing-a-fine-dining-dish.jpg);">
  <div class="container">
    <h1>Chefs Kiss</h1>
    <p>Find a best chef in your area!</p>
    <%= link_to 'OUR CHEFS', chefs_path, class: 'btn btn-info' %>
  </div>
</div>
