  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.radissonblu.com/wp-content/uploads/2014/09/Chef-garnishing-a-fine-dining-dish.jpg);">
    <div class="container">
      <h1 class="mx-auto my-0 text-uppercase">CHEF'S KISS</h1>
      <br>
      <h4 class="text-white mx-auto mt-2 mb-5">Find best chefs in your area!</h4>
      <%= link_to 'OUR CHEFS', chefs_path, class: 'btn js-scroll-trigger' %>
    </div>

  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3 class="text-white mb-4">Built for Your Service</h3>
          <p>Need a chef for your big party? Tired of cooking at home? All you need is Chef's Kiss.</p>
        </div>
      </div>
    </div>
  </section>
</div>
