  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.radissonblu.com/wp-content/uploads/2014/09/Chef-garnishing-a-fine-dining-dish.jpg);">
    <div class="container">
      <h1 class="mx-auto my-0 text-uppercase">CHEF'S KISS</h1>
      <br>
      <h4 class="text-white mx-auto mt-2 mb-5">Find best chefs in your area!</h4>
      <%= link_to 'OUR CHEFS', chefs_path, class: 'btn js-scroll-trigger' %>
    </div>

  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3 class="text-white mb-4">Built for Your Service</h3>
          <p>Need a chef for your big party? Tired of cooking at home? All you need is Chef's Kiss.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">43 Dibek Street, Galata, Istanbul</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">hello@chefs_kiss.com</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+090 5305243344 </div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <div id="home-fab" href="#" class="mx-2">
          <i class="fab fa-twitter fa-2x"></i>
        </div>
        <div id="home-fab" href="#" class="mx-2">
          <i class="fab fa-facebook-f fa-2x"></i>
        </div>
        <div id="home-fab" href="#" class="mx-2">
          <i class="fab fa-github fa-2x"></i>
        </div>
      </div>

    </div>
  </section>

  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright © ChefsKiss 2021
    </div>
  </footer>
</div>
