  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.radissonblu.com/wp-content/uploads/2014/09/Chef-garnishing-a-fine-dining-dish.jpg);">
    <div class="container">
      <h1 class="mx-auto my-0 text-uppercase">CHEF'S KISS</h1>
      <br>
      <h4 class="text-white mx-auto mt-2 mb-5">Find best chefs in your area!</h4>
      <%= link_to 'OUR CHEFS', chefs_path, class: 'btn js-scroll-trigger' %>
    </div>

  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h3 class="text-white mb-4">Built for Your Service</h3>
          <p>Need a chef for your big party? Tired of cooking at home? All you need is Chef's Kiss.</p>
        </div>
      </div>
    </div>
  </section>

<section class="wrapper">
  <div class="container">

<div class="row">
 <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.unsplash.com/photo-1551218808-94e220e084d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tech,street" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Contact Us</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">Contact Us</a></h4>

          </div>
          <div class="card-footer">
           <div class="media">
            <div class="media-body">
          </div>
</div>
          </div>
        </div>
      </div></div>
     <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.unsplash.com/photo-1577106263724-2c8e03bfe9cf?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1400&q=80');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?tree,nature" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">About Us</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">About Us</a></h4>
          </div>
          <div class="card-footer">
           <div class="media">
      <div class="media-body">
      </div>
    </div>
          </div>
        </div>
      </div></div>
  <div class="col-sm-4"><div class="card text-white card-has-bg click-col" style="background-image:url('https://images.unsplash.com/photo-1615817198611-3a444017a48f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80');">
         <img class="card-img d-none" src="https://source.unsplash.com/600x900/?computer,design" alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
        <div class="card-img-overlay d-flex flex-column">
         <div class="card-body">
            <small class="card-meta mb-2">Career</small>
            <h4 class="card-title mt-0 "><a class="text-white" herf="#">Career</a></h4>

          </div>
          <div class="card-footer">
           <div class="media">
  <div class="media-body">


  </div>
</div>
          </div>
        </div>
      </div></div>

</div>

</div>
</section>


  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright © ChefsKiss 2021
    </div>
  </footer>
</div>
