.btn {border-radius: 6px;}

.btn {background-color: #f54c4f;}

.btn:hover {
  background-color: rgb(164, 158, 158);
}
.chef-btn{
  margin-top: 20px;
}

.chef-btn.chef{
  margin-left: 50px;
  padding-right: 20px;
}

.btn.btn-view{
  margin-top: 10px;
}
