// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "banner";
@import "show_card";
@import "chef_card";
@import "card_map";
@import "button";
@import "container_booking";
@import "card";
@import "card_new";

.chef-list{
  text-align: center;
  margin-top: 15px;
  color: rgba(19, 20, 20, 0.5);
}
