.navbar-lewagon {
  justify-content: space-between;
  background:#f54c4f;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  border-radius: 50%;
}
